
    <div class="content">
        <h2>User 4</h2>
        <p><strong>first Name:</strong>{{review.users.first name}} </p>
        <p><strong>last Name:</strong>{{review.users.last name}} </p>
        <p><strong>Email:</strong>{{review.users.email}} </p>
        <p><strong>Created On:</strong>{{review.users.created on}} </p>
        <p><strong>Last Updated On:</strong>{{review.user.updated on}}</p>
        <a href="#">Edit</a> | <a href="#">Delete</a>
        <div class="note">
            'Edit' link displays the user's edit page<br>
            'Delete' link deletes the user from the database and redirects to the main page, i.e. localhost:5000/users
        </div>
    </div>
</div>