<div class="container">

    <div class="content">
        <h2>All Users</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Bob Marley</td>
                    <td>bob@marley.com</td>
                    <td>December 15, 2020</td>
                    <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Hulk Hogan</td>
                    <td>hulk@hogan.com</td>
                    <td>December 21, 2020</td>
                    <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Jimmy Hendrix</td>
                    <td>jimmy@hendrix.com</td>
                    <td>January 1, 2021</td>
                    <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Dwayne Johnson</td>
                    <td>dwayne@johnson.com</td>
                    <td>January 5, 2021</td>
                    <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Elvis Presley</td>
                    <td>elvis@presley.com</td>
                    <td>January 10, 2021</td>
                    <td><a href="#">Show</a> | <a href="#">Edit</a> | <a href="#">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <a href="#">Add a New User</a>
    </div>
</div>