h1 {
    color: white;
    background-color:black ;
    }
span{
    color: rgb(19, 212, 234);
}
h2{
    background-color: blueviolet;
    color: white;
    text-align: center;


}
h4{background-color: aqua;
    text-align: right;

}