<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>hello World!</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Full Name</th>
                <th>Age</th>
                <th>Classes</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <td>7</td>
            <td>amine weslati</td>
            <td>20</td>
            <td>python</td>
        </tr>
        </tbody>
    </table>
</body>
</html>